.searchForms {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
}

.searchForms form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.searchForms form button {
    margin: 0
}

.movieList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.movieList .card {
    position: relative;
    height: 650px;
    width: 300px;
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    overflow: hidden;
    background-color: #fff;
}

.movieList .card .imgBox {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 450px;

}

.movieList .card .imgBox a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: none;
    overflow: hidden;
}

.movieList .card .imgBox img {
    position: relative;
    width: 100%;
    height: auto;
    transition: .2s;
}

.movieList .card .imgBox a img:hover {
    transform: scale(1.1);
}

.movieList .card .contentBox {
    position: relative;
    padding: 10px;
}

.movieList .card .contentBox h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.movieList .card .contentBox>* {
    margin-top: 5px;
    margin-bottom: 5px;
}

.movieList .card .contentBox .text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 3px;
    /* height: 100px; */
}

.movieList .card .contentBox a {
    display: block;
    width: 120px;
    margin-top: 20px;
}

.movieList a:hover {
    color: #fff;
    background-color: #0059b9;
}

.pageBtns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px
}

.pageBtns p {
    color: #fff;
    margin: 20px;
    font-size: 1.1em;
}

.pageBtns .nextPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBtns .nextPage span {
    font-weight: 500;
}

.pageBtns .inactiveBtn {
    opacity: 0.5;
    cursor: unset;
}

button {
    display: block;
    padding: 0px 20px;
    height: 40px;
    background-color: #007bff;
    border: none;
    border-radius: 4px !important;
    color: #fff;
    margin: 20px;
    transition: .2s;
    cursor: pointer;
}

button:hover {
    background-color: #0059b9;
}