header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    -webkit-box-shadow: 0px 7px 15px -10px rgba(68, 68, 68, 1);
    -moz-box-shadow: 0px 7px 15px -10px rgba(68, 68, 68, 1);
    box-shadow: 0px 7px 15px -10px rgba(68, 68, 68, 1);
}


header .logo {
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-size: 1.1em;
}

header nav {
    position: relative;
    width: 50%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    height: 100%;
}

/* header nav ul li {
    margin: 0 20px
} */

header nav ul li a,
header nav ul li button,
header .logo a {
    display: block;
    padding: 10px 20px;
    color: #aaa;
    font-size: 1em;
    font-weight: 500;
    /* border: 1px solid #fff; */
    /* border-radius: 7px; */
    text-decoration: none;
    transition: 0.1s;
    cursor: pointer;
    margin: 0
}

header .logo a {
    font-size: 1.2em;
    color: #fff
}

header nav ul li button {
    background: none;
    border: none;
}

header nav ul li a:hover,
header nav ul li button:hover {
    color: #fff;
    background: none;

}

header nav ul li a.active {
    color: #fff;

}

/*MobileNav*/
.mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileNav .navList {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: .2s;
    background-color: rgba(0, 0, 0, 0.881);
}

.mobileNav .fullscreen {
    right: 0;
}

.mobileNav .menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #000;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 10;
}


.mobileNav .menuBtn .btnBurger {

    width: 40px;
    height: 3px;
    background: #fff;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}

/* .btnAnimation {
    animation: jumping 2.5s infinite;

} */

.mobileNav .menuBtn .btnBurger::before,
.mobileNav .menuBtn .btnBurger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    /* box-shadow: 0 2px 5px rgba(37, 37, 37, 0.719); */
    transition: all 0.5s ease-in-out;
    z-index: 11;

}

.mobileNav .menuBtn .btnBurger::before {
    transform: translateY(-10px);
}

.mobileNav .menuBtn .btnBurger::after {
    transform: translateY(10px);
}

@keyframes jumping {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-10px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}

/*animation burger*/

.mobileNav .menuBtn.visible .btnBurger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.mobileNav .menuBtn.visible .btnBurger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background-color: #fff;

}

.mobileNav .menuBtn.visible .btnBurger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background-color: #fff;

}



main {
    position: relative;
    background-color: rgb(21, 21, 21);
    background-image: url("../src/images/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    min-height: 90vh;
}

main a {
    display: block;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px !important;
    color: #fff;
    text-decoration: none;
    transition: .2s;
}

.wrapper {
    position: relative;
    max-width: 1920px;
    min-height: 90vh;
    background-color: rgba(0, 0, 0, 0.87);
    margin: 0 auto;
}

.container {
    position: relative;

    margin: 0 auto;
    padding: 20px;
    max-width: 1140px;
}

form input,
form select {
    display: block;
    padding: 5px;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}